obj/
bin/
.vs/
bin/Debug/net8.0/Words.dll
bin/Debug/net8.0/Words.dll
bin/Debug/net8.0/Words.dll
bin/Debug/net8.0/Words.exe
bin/Debug/net8.0/Words.exe
bin/Debug/net8.0/Words.pdb
obj/Debug/net8.0/Words.AssemblyInfoInputs.cache
/obj
obj/Debug/net8.0/Words.pdb
